<a href="https://colab.research.google.com/github/kayodeolusanya/ARIMA-INSURANCE-GLOBAL/blob/main/DUNE_SALES_ANALYSIS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Sales Analysis

Dune is a reputable retailers offering a diverse selection of products including accessories, clothings and phones. With a growing presence in 14 Countries and a team of over 70,000 employees, the company prides itself on providing affordable options for everyone. 

I have been tasked with analyzing and summarizing the company's data in order to gain actionable insights and understand the underlying patterns and relationships.

This analysis will help identify areas of opportunities and inform future business decisions aimed at improving and increasing profitability.

In [1]:
#Importing Libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
import missingno as msno
import collections as Counter

In [2]:
#Load Dataset
df = pd.read_csv("/content/Dune Sales Data.csv")

In [6]:
#Printing the top rows
df.head()

,Date,Customer,Sales Person,Customer_Age,Customer_Gender,State,Product_Category,Sub_Category,Payment Option,Quantity,Unit_Cost,Unit_Price
0,19-Feb-16,High,Segun,29,F,Abia,Accessories,Keyboard,Online,1.0,80.00,109.00
1,20-Feb-16,High,Segun,29,F,Abia,Clothing,Polo shirts,Online,2.0,24.50,28.50
2,27-Feb-16,High,Segun,29,F,Abia,Accessories,Keyboard,Online,3.0,3.67,5.00
3,12-Mar-16,High,Segun,29,F,Abia,Accessories,Keyboard,Online,2.0,87.50,116.50
4,12-Mar-16,High,Segun,29,F,Abia,Accessories,Keyboard,Online,3.0,35.00,41.67

In [5]:
#Printing the bottom rows
df.tail()

,Date,Customer,Sales Person,Customer_Age,Customer_Gender,State,Product_Category,Sub_Category,Payment Option,Quantity,Unit_Cost,Unit_Price
34862,7-Feb-16,High,Kenny,38,M,Ebonyi,Phones,IPhone,Online,2.0,1160.0,985.50
34863,13-Mar-15,High,Kenny,38,M,Ebonyi,Phones,IPhone,Online,1.0,2049.0,1583.00
34864,5-Apr-15,High,Kenny,38,M,Ebonyi,Phones,IPhone,Online,3.0,683.0,560.67
34865,30-Aug-15,High,Kenny,38,M,Ebonyi,Phones,IPhone,Online,1.0,2320.0,1568.00
34866,NaN,NaN,NaN,38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
#Printing Dimensionality
df.shape

(34867, 12)

In [9]:
#Examining the data features
df.columns

Index(['Date', 'Customer', 'Sales Person', 'Customer_Age', 'Customer_Gender',
       'State', 'Product_Category', 'Sub_Category', 'Payment Option',
       'Quantity', 'Unit_Cost', 'Unit_Price'],
      dtype='object')

In [11]:
#Investigating the data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34867 entries, 0 to 34866
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date              34866 non-null  object
 1   Customer          34866 non-null  object
 2   Sales Person      34866 non-null  object
 3   Customer_Age      34867 non-null  int64
 4   Customer_Gender   34866 non-null  object
 5   State             34866 non-null  object
 6   Product_Category  34866 non-null  object
 7   Sub_Category      34866 non-null  object
 8   Payment Option    34866 non-null  object
 9   Quantity          34866 non-null  float64
 10  Unit_Cost         34866 non-null  float64
 11  Unit_Price        34866 non-null  float64
dtypes: float64(3), int64(1), object(8)
memory usage: 3.2+ MB

In [12]:
#Numerical Statistical Analysis
df.describe()

       Customer_Age      Quantity     Unit_Cost    Unit_Price
count  34867.000000  34866.000000  34866.000000  34866.000000
mean      36.382683      2.002524    349.880567    389.232473
std       11.112813      0.813936    490.015846    525.319097
min       17.000000      1.000000      0.670000      0.670000
25%       28.000000      1.000000     45.000000     53.670000
50%       35.000000      2.000000    150.000000    179.000000
75%       44.000000      3.000000    455.000000    521.000000
max       87.000000      3.000000   3240.000000   5082.000000