<a href="https://colab.research.google.com/github/kayodeolusanya/ARIMA-INSURANCE-GLOBAL/blob/main/Machine_Learning_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [32]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
!pip install joblib
import joblib

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: joblib in /usr/local/lib/python3.9/dist-packages (1.1.1)

In [35]:
from sklearn import tree

In [ ]:
df = pd.read_csv('/content/music.csv')

In [ ]:
df.head()

   age  gender   genre
0   20       1  HipHop
1   23       1  HipHop
2   25       1  HipHop
3   26       1    Jazz
4   29       1    Jazz

In [ ]:
X = df.drop(columns=['genre'])
X

    age  gender
0    20       1
1    23       1
2    25       1
3    26       1
4    29       1
5    30       1
6    31       1
7    33       1
8    37       1
9    20       0
10   21       0
11   25       0
12   26       0
13   27       0
14   30       0
15   31       0
16   34       0
17   35       0

In [ ]:
Y = df['genre']
Y

0        HipHop
1        HipHop
2        HipHop
3          Jazz
4          Jazz
5          Jazz
6     Classical
7     Classical
8     Classical
9         Dance
10        Dance
11        Dance
12     Acoustic
13     Acoustic
14     Acoustic
15    Classical
16    Classical
17    Classical
Name: genre, dtype: object

In [ ]:
model = DecisionTreeClassifier()
model.fit(X,Y)
predictions = model.predict([[21,1],[22,0]])
predictions

/usr/local/lib/python3.9/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['HipHop', 'Dance'], dtype=object)

In [29]:
X_train, X_test, Y_train,Y_test = train_test_split(X,Y, test_size=0.2)
model.fit(X_train,Y_train)
predictions = model.predict(X_test)

score = accuracy_score(Y_test, predictions)
score

0.5

In [33]:
#to save our model
joblib.dump(model, 'music-recommender.joblib')

['music-recommender.joblib']

In [34]:
#To call our model
model = joblib.load('music-recommender.joblib')
predictions

array(['Jazz', 'HipHop', 'Classical', 'Acoustic'], dtype=object)

In [36]:
tree.export_graphviz(model, out_file='music-recommender.dot', feature_names=['age', 'gender'],
                     class_names=sorted(Y.unique()),label='all', rounded=True, filled= True)